# 0. EDA

In [8]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings("ignore")

In [9]:
file_path = "./datasets/train.txt"
train = pd.read_csv(file_path, sep='\t', header=None, names=['LABEL', 'REVIEW'])
train

                  LABEL                                             REVIEW
0      TRUTHFULPOSITIVE  The sheraton was a wonderful hotel! When me an...
1      TRUTHFULPOSITIVE  We stayed at the Omni between Christmas and Ne...
2     DECEPTIVENEGATIVE  I was REALLY looking forward to a nice relaxin...
3      TRUTHFULNEGATIVE  First let me say, I try not to be too critical...
4     DECEPTIVENEGATIVE  The Ambassador East Hotel is a terrible place ...
...                 ...                                                ...
1395   TRUTHFULNEGATIVE  I stayed here for 5 nights last summer. I book...
1396   TRUTHFULPOSITIVE  Stayed here for 3 nights for a Bridgestone/Fir...
1397   TRUTHFULNEGATIVE  I am staying here now and actually am compelle...
1398   TRUTHFULNEGATIVE  We stayed at this hotel with our two teenage d...
1399  DECEPTIVEPOSITIVE  The rooms were beautiful! The staff was friend...

[1400 rows x 2 columns]

In [10]:
# Check class distribution
class_distribution = train['LABEL'].value_counts()
print(class_distribution)

DECEPTIVENEGATIVE    352
TRUTHFULNEGATIVE     352
TRUTHFULPOSITIVE     350
DECEPTIVEPOSITIVE    346
Name: LABEL, dtype: int64

In [11]:
# Calculate the length of each review and add it as a new column
train['REVIEW_LEN'] = train['REVIEW'].apply(len)

# Calculate mean, min, and max review length for each class
class_stats = train.groupby('LABEL')['REVIEW_LEN'].agg(['mean', 'min', 'max'])
print(class_stats)

                         mean  min   max
LABEL
DECEPTIVENEGATIVE  934.715909  178  4074
DECEPTIVEPOSITIVE  635.104046  150  1877
TRUTHFULNEGATIVE   968.818182  215  3537
TRUTHFULPOSITIVE   674.271429  167  2446